@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #2c2f33;
    color: white;
    font-family: 'Oswald', sans-serif;
}